@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-7">Orçamentos Elétricos</h1>
    <p>Preencha as informações do seu projeto e obtenha um orçamento inicial!</p>

    <a asp-area="" asp-controller="Home" asp-action="Pessoa" class="btn btn-primary">
        Gerar Orçamento
    </a>
</div>
